/* Example CSS to resize the logo */
.md-header-logo img {
    height: 150px;
    width:100px;  /* Adjust the size as needed */
  }
  
.md-header {
    background-color: green;  /* Replace with your desired color */
}

.md-nav__link--active {
  color: #008000 !important;  /* Green color for the sidebar links */
}

summary {
  background-color: lightgreen !important;
}

summary:before {
  background-color: white !important;
}

.md-nav__link {
  font-weight: bold;
}